<%- include('./header/header.ejs') %> 
<div>
    <h2 class="font text-center text-success" style="font-weight: bold;"> <img src="img/ss.png" width="50px" height="50px" /> ارتباط با ما </h2>
</div>

<div class="card w-100 border p-4" style="width: 18rem;">
    <div class="form font">
        <% if(mas == "پیام با موفقیت ارسال شد"){ %> 
            <div class="alert alert-success alert-dismissible fade show" role="alert">
               <%- mas %> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div> 
         <% } else if(mas == "لطفا اطلاعات را کامل پر کنید") { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%- mas %> 
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div> 
           <% } %> 
        <form action="/call" method="post">
            <label class="form-label text-dark pt-2 pl-2" for="form3Example1"> نام  :</label>
            <input type="text" name="name" for="name" id="form3Example1" class="form-control" required />

            <label class="form-label pt-2 pl-2 text-dark" for="form3Example1">ایمیل :</label>
            <input type="text" id="form3Example1" name="email" for="email" class="form-control"  autocomplete="" required/>

            <label class="form-label pt-2 pl-2 text-dark" for="form3Example1">پیام :</label>
            <textarea class="form-control" id="textAreaExample" name="text" for="text" rows="4" required></textarea>

            
                <div class="g-recaptcha pt-3" data-sitekey="6LcH-iMbAAAAAKB1LuQJSjFlNiF1ONPMMAg_Iad8"></div>
           

            <button type="submit" class="btn btn-primary mt-2 w-100" required>ارسال پیام</button>
       </form>

      </div>
</div>



<%- include ('./footer/footer.ejs') %> 