<%- include('./header/headeradmin.ejs')  %>  

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row mt-3 mb-3">
   
            <div class="col-8">
             <div class="card m-0 border border-success">
               <div class="card-body">
                 <h5 class="card-title mb-3">اضافه کردن دسته</h5>
                <a href="/admin/addcatgory"> <button type="button" class="btn btn-success w-25">+ اضافه کردن</button></a>
               </div>
             </div>
         
            </div>
            <div class="col-4">
            </div>
           </div>
              <h3 class="mt-3 mb-3 ml-2"> دسته بندی ها </h3>
<div class="row">
    <div class="col-3">
        <div class=" table-responsive">
            <table class="table table-striped table-sm border">
              <thead>
                <tr>
                  <th class="text-center">  نام دسته</th>
                  <th class="text-center">ویرایش</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i of result){ %> 
                <tr>
                  <td class="text-center"><%- i.name %> </td>
                  <td><a href="/admin/edtcatgory<%- i.id %> "> <button type="button" class="btn btn-info w-100 pt-1 pb-1">ویرایش</button></a></td>
                </tr>
                <% } %> 
                <tr>
              
              </tbody>
            </table>
          </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>
              
            
             </div>
    </main>
    
    
<%- include('./footer/footeradmin.ejs')  %> 