body {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: IRANSans-Bold;
    src: url(../fonts/IRANSans-Bold-web.ttf)
}

@font-face {
    font-family: IRANSans-Light;
    src: url(../fonts/IRANSans-Light-web.ttf)
}

@font-face {
    font-family: IRANSans-Medium;
    src: url(../fonts/IRANSans-Medium-web.ttf);
}

@font-face {
    font-family: IRANSans-web;
    src: url(../fonts/IRANSans-web.ttf);
}

.font {
    font-family: IRANSans-Light;
}
